[submodule "tolink/vim/bundle/delmitmate"]
	path = tolink/vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "tolink/vim/bundle/closetag"]
	path = tolink/vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "tolink/vim/bundle/nerdtree"]
	path = tolink/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "tolink/vim/bundle/ctrlp"]
	path = tolink/vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "tolink/vim/bundle/twig"]
	path = tolink/vim/bundle/twig
	url = git://github.com/evidens/vim-twig.git
